In [1]:
#Name: Chaeyoon Kim
#City Email: Chaeyoon.Kim@city.ac.uk

# Learn Basics in Python

In [2]:
1 + 1

2

In [3]:
7 - 4

3

In [4]:
# High-tech programs have their own rules. e.x) == operator, = variable
# The multiplication can be confusing with the alphabet X(x), so replace it with an asterisk (*).
3 * 4

12

In [5]:
# Since division is not on the keyboard, substitute /.
3 / 2

1.5

In [6]:
# % is the operator that calculates the remainder of 13 divided by 5
13 % 5

3

In [7]:
# True if left and right are the same based on equality, False if they do not match
1 + 2 == 3

True

In [8]:
1 + 2 == 4

False

In [9]:
10 % 2 == 0

True

In [10]:
11 % 2 == 0

False

In [11]:
12 % 2 == 0 and 12 % 3 == 0

True

In [12]:
14 % 2 == 0 and 14 % 3 == 0

False

In [13]:
14 % 2 == 0 or 14 % 3 == 0

True

## Variable

In [14]:
a = 3
b = 5

a + b

8

In [15]:
a = 3
b = 13

a + b

16

In [16]:
# Variables can be substituted for themselves.
a = 3

a = a + 1

print(a)

a = a + 2

a

4

6

## String(text)

In [17]:
" Hello World! "

' Hello World! '

In [18]:
a #If you don't use " " for a character, you can confuse variables, functions, symbols, and so on.

6

In [19]:
' Hello World ' #Python has no switch function. Because I think it can be implemented if -else.

' Hello World '

In [20]:
" Shayne's weight ? " #' ' and ' ' ' both indicate text because ' and ' can be used.

" Shayne's weight ? "

In [22]:
# int == integer
# str == string
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
"1" + "2" #The addition of character columns and strings is preposterous.

## format

In [23]:
bananas = 3
days = 5

#. is a method that brings out special functions. Let's get out of the format.
"Shayne ate {0} bananas for {1} days.".format(bananas, days)

'Shayne ate 3 bananas for 5 days.'

In [24]:
f"Shayne ate {bananas} bananas for {days} days." #python morph

'Shayne ate 3 bananas for 5 days.'

In [25]:
model_a = 0.987654321
model_b = 0.123456789

f"[Accuracy] Model A = {model_a:.3f}, Model B = {model_b:.5f}"

'[Accuracy] Model A = 0.988, Model B = 0.12346'

## print

In [26]:
message = "Hello World!"
message

'Hello World!'

In [27]:
#{}Using only packaging, []Searching, Indexing, Searching, Listing only, () All the rest
print(message[0])
print(message[1])
print("----")
print(message[-1])
print(message[-2])

H
e
----
!
d

In [28]:
message[0:4]

'Hell'

In [29]:
print("H" in message)
print("h" in message)
print("A" in message)
print("Hell" in message)

True
False
False
True

## List

In [30]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [31]:
print(odd[0])
print(odd[1])
print("----")
print(odd[-1])
print(odd[-2])

1
3
----
9
7

In [32]:
odd[0:4] #Stop in front of 4, i.e. output from 0 to 3 order.

[1, 3, 5, 7]

In [33]:
print(1 in odd)
print(2 in odd)
print(3 in odd)

True
False
True

In [34]:
odd.append(11) #An append is added several times if executed several times.
odd

[1, 3, 5, 7, 9, 11]

In [35]:
odd = odd + [13, 15, 17, 19]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
odd[3] = -1
odd[5] = -1
odd

[1, 3, 5, -1, 9, -1, 13, 15, 17, 19]

In [37]:
odd.reverse() #If you type . and tap the tab, there are many special functions that you can use.
odd

[19, 17, 15, 13, -1, 9, -1, 5, 3, 1]

In [38]:
message.lower()

'hello world!'

In [39]:
message.upper()

'HELLO WORLD!'

In [40]:
print(message.split(" "))
print(message.split("o"))

['Hello', 'World!']
['Hell', ' W', 'rld!']

In [41]:
words = ["Hello", "World!"]
print(" ".join(words))
print(",".join(words))
print(", ".join(words))

Hello World!
Hello,World!
Hello, World!

## if-else

In [42]:
age = 3
#Python's if-else statement has :
#And spacing is important, if it is not correct, it is not be executed.
if age < 5: 
    print("child")
else:
    print("adult")

child

In [43]:
age = 10

if age < 5:
    print("child")
elif age < 18:
    print("pupil")
else:
    print("adult")

pupil

## for-loop

In [44]:
basket = ['apple', 'banana', 'chicken', 'pineapple', 'cherry']

for stuff in basket:
    print(stuff)

apple
banana
chicken
pineapple
cherry

In [45]:
for i in range(5):
    print(i)

print('--------')

for i in range(1, 5):
    print(i)

0
1
2
3
4
--------
1
2
3
4

In [46]:
for i in range(1, 10):
    if i ==5:
        print("beep!")
    print(i)

1
2
3
4
beep!
5
6
7
8
9

In [47]:
for i in range(1, 10):
    if i ==5:
        print("beep!")
        break
        
    print(i)

1
2
3
4
beep!

In [48]:
for i in range(1, 10):
    if i == 2:
        print("boop!")
        continue
        
    if i == 5:
        print("beep!")
        break
        
    print(i)

1
boop!
3
4
beep!

In [49]:
double_list = []

for i in range(1, 11):
    if i == 5:
        continue
    if i == 8:
        break
    
    double = i * 2
    double_list.append(double)
    
double_list

[2, 4, 6, 8, 12, 14]

## Function

In [50]:
# def == define
def multiply(a, b):
    c = a * b
    return c

print(multiply(2, 3))
print(multiply(3, 4))

6
12

In [51]:
def sign(n):
    if n > 0:
        return 'positive'
    elif n < 0:
        return 'negative'
    else:
        return '0'

for n in [-1, 0, 1]:
    print(sign(n))
    
#print(sign(-1))
#print(sign(0))
#print(sign(1))

negative
0
positive