In [1]:
#Name: Chaeyoon Kim
#City Email: Chaeyoon.Kim@city.ac.uk
import numpy as np
import pandas as pd

## Load dataset

In [2]:
train = pd.read_csv("train.csv", parse_dates=["datetime"])
#train["datetime"].dt.year # (month / day / hour / minute / second)

print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
test = pd.read_csv("test.csv", parse_dates=["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

# Gini Impurity

In [4]:
# Gini Impurity
# = 1-(Psurvived)^2-(Pperish)^2
# = 1-(100/100)^2 - (0/100)^2 = 0 if conditions are very good
# = 1-(50/100)^2 - (50/100)^2 = 0.5 if the conditions are very poor

## Train

In [5]:
#train["datetime"].dt.year # (month / day / hour / minute / second)
train["Year"] = train["datetime"].dt.year
train["Month"] = train["datetime"].dt.month
train["Day"] = train["datetime"].dt.day
train["Hour"] = train["datetime"].dt.hour
train["Minute"] = train["datetime"].dt.minute
train["Second"] = train["datetime"].dt.second

print(train.shape)
train[["datetime", "Year", "Month", "Day", "Hour","Minute", "Second"]].head()

(10886, 18)

             datetime  Year  Month  Day  Hour  Minute  Second
0 2011-01-01 00:00:00  2011      1    1     0       0       0
1 2011-01-01 01:00:00  2011      1    1     1       0       0
2 2011-01-01 02:00:00  2011      1    1     2       0       0
3 2011-01-01 03:00:00  2011      1    1     3       0       0
4 2011-01-01 04:00:00  2011      1    1     4       0       0

In [6]:
test["Year"] = test["datetime"].dt.year
test["Month"] = test["datetime"].dt.month
test["Day"] = test["datetime"].dt.day
test["Hour"] = test["datetime"].dt.hour
test["Minute"] = test["datetime"].dt.minute
test["Second"] = test["datetime"].dt.second

print(test.shape)
test[["datetime", "Year", "Month", "Day", "Hour", "Minute", "Second"]].head()

(6493, 15)

             datetime  Year  Month  Day  Hour  Minute  Second
0 2011-01-20 00:00:00  2011      1   20     0       0       0
1 2011-01-20 01:00:00  2011      1   20     1       0       0
2 2011-01-20 02:00:00  2011      1   20     2       0       0
3 2011-01-20 03:00:00  2011      1   20     3       0       0
4 2011-01-20 04:00:00  2011      1   20     4       0       0

In [7]:
feature_names = ["season", "holiday", "workingday", "weather", "temp", "atemp", "humidity", "windspeed","Year", "Hour"]
feature_names

['season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 'Year',
 'Hour']

In [8]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Year,Hour
0,1,0,0,1,9.84,14.395,81,0.0,2011,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,1
2,1,0,0,1,9.02,13.635,80,0.0,2011,2
3,1,0,0,1,9.84,14.395,75,0.0,2011,3
4,1,0,0,1,9.84,14.395,75,0.0,2011,4

In [9]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Year,Hour
0,1,0,1,1,10.66,11.365,56,26.0027,2011,0
1,1,0,1,1,10.66,13.635,56,0.0000,2011,1
2,1,0,1,1,10.66,13.635,56,0.0000,2011,2
3,1,0,1,1,10.66,12.880,56,11.0014,2011,3
4,1,0,1,1,10.66,12.880,56,11.0014,2011,4

In [10]:
label_name = "count"
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [11]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=37) #can change seed number
model

RandomForestRegressor(random_state=37)

In [12]:
#from sklearn.tree import DecisionTreeClassifier

#model = DecisionTreeClassifier(max_depth=35)
#model

## Score

In [13]:
#from sklearn.cross_validation import cross_val_score old version
from sklearn.model_selection import cross_val_score

score = cross_val_score(model, X_train, y_train,
                        cv=20, scoring="neg_mean_absolute_error").mean()
#You can convert score = -1,0 * score to return positives
print("Score = {0:.6f}".format(score))

Score = -34.675324

In [14]:
model.fit(X_train, y_train)

RandomForestRegressor(random_state=37)

In [15]:
predictions = model.predict(X_test)

print(predictions.shape)
predictions

(6493,)

array([  9.3       ,   4.41      ,   3.49      , ..., 102.32      ,
       103.27833333,  55.195     ])

## Submit

In [16]:
submission = pd.read_csv("sampleSubmission.csv")

print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [17]:
submission["count"] = predictions

print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   9.30
1  2011-01-20 01:00:00   4.41
2  2011-01-20 02:00:00   3.49
3  2011-01-20 03:00:00   3.52
4  2011-01-20 04:00:00   2.72

In [18]:
submission.to_csv("baseline-script.csv", index=False)

## check score without Kaggle submission

In [19]:
#hold-out validation
#cross validation

## appendix

In [20]:
# Count = 100 -> acutual(a)
# ModelA = 120 add ModelB = 70 => predict(p)

#1. |p-a| = Mean Absolute Error

#2. (p-a)^2 = Mean Squared Error
### The larger the difference between the correct answer and the predicted value,
### the more you want to give a penalty.

#3. root((p-a)^2) =Root Mean Squared Error *similar with option_2 rather than option_1
### Instead, you can think of it as the opposite of the characteristics of option_2.

In [21]:
# root(1/n * sigma(i=1->n)((log(pi+1)-log(ai+1))^2))
# => root((log(p+1)-log(a+1))^2) It gives a smaller panalty even if the difference is big.